<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.shop.api.brand.mapper.IBrandMapper" >

	<sql id="brand_page">
		<where>
			<if test="name != null and name != ''">
				and name = #{name}
			</if>
		</where>
	</sql>

	<select id="queryBrandCount" parameterType="com.fh.shop.api.brand.param.BrandParam" resultType="java.lang.Long">
		select count(*) from t_brand
		<include refid="brand_page"></include>
	</select>

	<select id="queryBrandPage" parameterType="com.fh.shop.api.brand.param.BrandParam" resultType="com.fh.shop.api.brand.po.Brand">
		select id,name,imgPath,sell,sort
		from t_brand
		<include refid="brand_page"></include>
		order by id desc
		limit #{start},#{length}
	</select>

</mapper>