<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.shop.api.order.mapper.IOrderItemMapper" >

	<insert id="insertAll" parameterType="java.util.List">
		insert into
		t_orderitem(orderId, itemId, memberId, price, count, itemName, allPrice)
		values
		<foreach collection="list"  item="item" index="index" separator=",">
			(
				#{item.orderId},
				#{item.itemId},
				#{item.memberId},
				#{item.price},
				#{item.count},
				#{item.itemName},
				#{item.allPrice}
			)
		</foreach>
	</insert>

</mapper>